<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN</title>
</head>
<body>
    <h1>LOG IN</h1>
    <form action="/user/login" method="post">
        <label >EMAIL</label>
        <input type="text" name="email" required>
        <label>PASSWORD</label>
        <input type="password" name="password" required>
        <button type="submit">sign up</button>
    </form>
</body>
</html>